.container {
    background: #FFFFFF;
    width: 1010px;
    margin: 0 auto;
    padding: 32px;
    min-height: 100vh;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.ant-pagination {
    margin: 32px 0;
    align-self: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 1009px) {

    .container {
        width: 100%;
        padding: 16px;
    }
}