.search {
    width: 100%;
    margin: 20px 0;
}

.search__input {
    width: 100%;
    padding: 8px;
    border-color: #D9D9D9; 
    font-size: 20px;
}

.search__input::placeholder {
    color: #D9D9D9;
}